*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEEEE;
    font-family: "VT323", monospace;
    font-weight: 700;
    font-style: normal;
}

/* Header: Snake Game */
/* The margin's size is relative to the font size of the title */
.title{
    font-size: 5rem;
    text-align: center;
    margin: 0.1em; 
}

/* The Main Container That Holds Both The Score And Game Container */
.container{
    width: 95%;
    min-height: 82vh;
    max-width: 800px;
    /* background-color: pink; */
    margin: 0 auto;
}

/* The Score Board */
.scores-container{
    width: 90%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.score-container{
    width: 25%;
    border: 0.4em solid #3B1E54;
    background-color: #D4BEE4;
    border-radius: 0.2em;
    font-size: 1.6rem;
}

/* The Game Board Section */
.game-container{
    width:65%;
    margin: 2em auto;
}
.game-container-border-1{
    border: 0.6em solid #3B1E54;
    box-shadow: inset 0 0 30px #3B1E54;;
    border-radius: 2em;
    
}

.game-container-border-2{
    border: 0.6em solid #D4BEE4;
    box-shadow: inset 0 0 30px #D4BEE4;;
    border-radius: 2em; 
}

.game-container-border-3{
    border: 2em solid #9B7EBD;
    border-radius: 2em; 
}

.game-board{
    /* width: 52.5%; */
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows: repeat(20,20px);
    background-color: #D4BEE4;
}


/* @media (max-width: 767px) {   
} */